[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "*"
flask = "*"
dash = "*"
ipykernel = "*"
pandas = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-bootstrap-components = "*"
plotly = "*"

[requires]
python_version = "3.7"
